= form_with(model: note) do |form|
  -#<% if note.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

  .columns
    - if note.image
      .column.is-one-quarter
        %figure.image.is-128x128
          = image_tag note.image.url
    .column.is-two-thirds
      .file(class="#{'has-name is-fullwidth' if note.image}")
        %label.file-label
          = form.file_field :image, class: "file-input"
          %span.file-cta
            %span.file-icon
              %i.fas.fa-upload
            %span.file-label
              Choose a file ...
          - if note.image
            %span.file-name
              = note.image_uid
      -#.field
        .control
          = form.file_field :image

  .columns
    .column.is-half
      .field
        = form.label :title, class: "label"
        .control
          = form.text_field :title, class: "input #{'is-danger' if note.errors[:title].any?}", value: note.title
          - if note.errors[:title].any?
            .has-text-danger.is-size-7
              = note.errors[:title].join(', ')
    .column.is-half
      .field
        = form.label :tag_list, class: "label"
        .control
          = form.text_field :tag_list, class: "input #{'is-danger' if note.errors[:tag_list].any?}", value: note.tag_list.join(', ')
          .is-size-7.has-text-weight-lighter comma separated like "cooking, indian, spicy"
          - if note.errors[:tag_list].any?
            .has-text-danger.is-size-7
              = note.errors[:tag_list].join(', ')

  .columns(data-controller="markdown")
    .column.is-half
      .field
        = form.label :markdown, class: "label"
        .control
          = form.text_area :markdown, class: "textarea #{'is-danger' if note.errors[:markdown].any?}", value: note.markdown, data: { "markdown-target" => "markdown", action: "keyup->markdown#markdownChanged" }
          - if note.errors[:markdown].any?
            .has-text-danger.is-size-7
              = note.errors[:markdown].join(', ')
    .column.is-half
      = form.hidden_field :html, value: note.html, data: { "markdown-target" => "html" }
      .is-size-5
        Preview
      .preview(data-markdown-target="preview")
        = raw note.html
  
  .columns
    .column
      .field
        .control
          = form.submit "#{note.persisted? ? 'Update note' : 'Create note'}", class: "button is-primary"