.card.note
  - if note.image
    .card-image
      %figure(class="image")
        = image_tag note.image.url
  .card-content
    .media
      .media-content
        %p.title.is-3
          = link_to note.title, note_path(note)
        %time.is-size-8.has-text-weight-lighter(datetime="#{note.created_at.to_formatted_s(:note_created_at)}")
          = note.created_at.to_formatted_s(:note_created_at)
    .content
      .is-flex.is-flex-direction-column.html
        = raw note.html
      .is-flex.is-flex-direction-row.pt-4
        - note.tags.each.with_index do |tag, index|
          %span.tag.tag--small.is-light(class="#{'ml-2' if index > 0}")
            = link_to tag.name.downcase, notes_tagged_path(tag.name.downcase)
  %footer.card-footer
    = link_to edit_note_path(note), class: "card-footer-item" do
      = fa_solid "save", size: 1
      Edit
    .card-footer-item
      = button_to note_path(note), method: :delete, class: "button is-white has-text-danger" do
        = fa_solid "trash", size: 1, options: {class: "mr-0"}
        %span
          Delete
          