- content_for :title do
  \- Notes for '#{@query}'

.container
  .is-flex.is-align-items-center
    .title.pt-3
      Notes for
      %span.tag.is-size-5
        = @query
    = link_to root_path, class: "button is-primary ml-4 is-size-8 mb-2" do
      = fa_solid "times", size: 1

  .pt-4
    - @notes.in_groups_of(3).each do |group|
      .columns
        - group.compact.each do |note|
          .column.is-one-third
            = render partial: "note", locals: { note: note }

  