%nav.navbar(role="navigation" aria-label="main navigation" data-controller="navbar")
  .navbar-brand
    = link_to root_path, class: "navbar-item has-text-primary" do
      = fa_regular "sticky-note"
      .subtitle.pl-4.has-text-primary Notes
    = link_to "#", class: "navbar-burger", role: "button", "aria-label" => "menu", "aria-expanded" => "false", "data-target" => "navbar-mobile", data: { "navbar-target" => "burger", action: "click->navbar#burgerClicked" } do
      %span(aria-hidden="true")
      %span(aria-hidden="true")
      %span(aria-hidden="true")

  #navbar-mobile.navbar-menu(data-navbar-target="menu")
    .navbar-start

      = form_with scope: current_user.notes.new, url: note_search_path, method: :post, class: "navbar-item" do |form|
        .is-flex.is-flex-direction-row
          = form.text_field :query, placeholder: "Search ...", class: "input query"
          .pl-4
          %button(type="submit" class="button is-primary")
            = fa_solid "search", size: 1

    .navbar-end
      .navbar-item
        .buttons
          .is-flex.is-flex-direction-row.is-align-items-center
            = button_to destroy_user_session_path, method: :delete, title: "Log out", class: "button is-primary log-out" do
              = fa_solid "lock", size: 1
            - if mobile?
              %span Log out