!!!
%html
  %head
    %title
      Notes
      = yield :title 
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", defer: true

  %body(id="#{'authenticated' if user_signed_in?}" class="#{controller_name}_#{action_name}")
    - if user_signed_in?
      = render "/layouts/navbar"
      = yield
    - else
      .is-page-vertical-centered
        .is-page-horizontal-centered
          .title.is-1 Notes
        .pt-4.mt-4
          = yield

    = render partial: "/layouts/flash_messages"
    